.Navbar{
    background-color:  #040714;
    display: flex;
    justify-content: space-between;
    max-height: 70px;
    padding: 8px;
    width: 100%;
    position: relative;
    left:0px;
    right:0px;

}
.logo_item{
    display: flex;
    width:20vw;
    align-items: center;
    justify-content: center;

}

.logo{
    width:100%;
    height: 60px;
    
}

.button{
    display: flex;
    align-items: center;
}
button{
    background: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 3px;
    padding: 10px 20px;
    letter-spacing: 1.5px;
    margin-right: 5px;
    margin:2px
    
}
button:hover{
    color: #040714;
    background: whitesmoke;
    border: 2px solid #040714;
    cursor: pointer;
}
.button{
    position:relative;
    
}
.button span{
    z-index: 5;
    position: absolute;
    top:50px;
    right:2px;
    border:0.5px solid #f9f9f9;
    padding:7px 20px;
    background: #040714 ;
    letter-spacing: 1.5px;
    display:none;
    
}
.button span:hover{
    cursor: pointer;
}
.MuiAvatar-img{
    margin: 0;
    
    cursor: pointer;
}
/* .button:hover span{
  display: block;
  transition-duration: 1s; 
} */
span.active{
    display:block;
}

